// --------------------------
// VARIABLES
// --------------------------
$maincolor: rgb(228, 231, 181);
$contrastcolor: rgb(63, 80, 46);

@mixin white-text-black-bg {
  color: $contrastcolor;
  background-color: $maincolor;
}

@mixin black-test-white-bg {
  color: $maincolor;
  background-color: $contrastcolor;
}


.App {
  font-family: 'Alata', sans-serif;
    background-color: rgb(254, 255, 211)
}




// --------------------------
// Header
// --------------------------

nav {
  @include white-text-black-bg;
  display: flex;
  justify-content: flex-start;

  a {
    @include white-text-black-bg;
    div {
      margin: 10px;
      font-size: large;
      text-decoration: none;
    }
  }
}

// --------------------------
// Form
// --------------------------

section,
div {
  form {
    input {
      padding: 10px;
      font-size: 1.1em;
      margin: 10px;
      font-family: 'Alata', sans-serif;
  

      &[type="submit"]:hover {
        @include black-test-white-bg;
      }
    }
  }
}

// --------------------------
// button
// --------------------------

button#delete {
  @include white-text-black-bg;
  display: block;
  margin: auto;
  font-size: 1.3em;
  padding: 10px;
}

// --------------------------
// images
// --------------------------

img {
  width: 300px;
  height: 300px;
  border-radius: 20px;
  object-fit: cover;
}